.content4{
    display:flex;
    flex-direction:row;
    margin:150px 100px 10px 100px;
}    

.services{
    width:25%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.actualServices{
    width:75%;
    display:flex;
    flex-direction:row;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px ;
}

.service1{
    width:33.33%;
    border-right:1px solid white;
    height: 282px;
}



.hover{
    display:none;
}


.content4:hover{
     
    .services
    {
        display:none;
    }
    .actualServices
    {
        width:100%;
    }
    .service1
    {
        width:25%;
    }

    .actualServices
    {
        border-top-left-radius: 30px ;
        border-bottom-left-radius: 30px ;
    }
    .hover
    {
        display:block;
    }
}



@media only screen and (max-width:900px) {
    .services{
        width:100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
        height: 260px;
    }
    
    .actualServices{
        width:100%;
        flex-direction:column;
        border-top-right-radius:0px;
        border-bottom-left-radius:30px ;
    }
    .service1{
        width:100%;
        border-bottom:1px solid white;
        height:260px;
    }

    .service1 h5{
        margin:20px 0px;
    }


    .content4:hover{
        
        .service1{
            width:100%;
        }
        .hover{
            display:block;
        }
        .actualServices
        {
            border-top-right-radius: 30px ;
        }
    }
}



@media only screen and (max-width:900px) and (min-width:600px){
    .content4{
        display: flex;
        flex-direction: column;
        margin:200px 30px 0px 30px;
    }

    
}

@media only screen and (max-width:600px) and (min-width:400px){
    .content4{
        display: flex;
        flex-direction: column;
        margin:370px 30px 0px 30px;
    }

    
}

@media only screen and (max-width:900px){
    .services h1{
        font-size: 55px;
    }

    
}

@media only screen and (max-width:400px){
    .content4{
        display: flex;
        flex-direction: column;
        margin:550px 30px 0px 30px;
    }

    
}