.Footer-Text{
    font-size: 18px;
}
.Image1{
    height: 40px;
    width: 40px;
}

.Image2{
    height: 30px;
    width: 30px;
}
@media only screen and (max-width:600px) {
    .Footer-Text{
        font-size: 12px;
    }

    .Image1{
        height: 30px;
        width: 30px;
    }
    
    .Image2{
        height: 25px;
        width: 25px;
    }
  }